<div>
  <div [hidden]="submitted">
    <h2>Enter Your Data</h2>
    <form (ngSubmit)="onSubmit()" #userDataForm="ngForm">
      <div>
        <label for="userdata">Data: </label>
        <input type="text" id="userdata"
               [(ngModel)]="model.userdata" name="userdata">
      </div>

      <button type="submit" [disabled]="!userDataForm.form.valid">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Data Saved</h2>
    <div class="row">
      <div>{{ model.userdata }}</div>
    </div>
    <br>
    <button (click)="submitted=false">Edit</button>
  </div>
</div>
